---
import Container from "@components/Container.astro";
import BackToTop from "@components/BackToTop.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import { SITE } from "@consts";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute -top-12 right-0">
        <BackToTop />
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div>&copy; {new Date().getFullYear()} • {SITE.TITLE} 🔬</div>
      <ThemeSwitcher />
    </div>
  </Container>
</footer>
