---
import Container from "@/components/Container.astro";
import BackToTop from "@/components/BackToTop.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import LastBuild from "@/components/LastBuild.astro";
import { SITE } from "@/consts";
---

<footer class="animate">
  <Container>
    <div class="flex items-end justify-between">
      <div>
        {
          SITE.ENABLE_FOOTER_LAST_BUILD && (
            <div class="mb-0.5 max-sm:hidden">
              <LastBuild />
            </div>
          )
        }
        <div>&copy; {new Date().getFullYear()} • {SITE.TITLE} 🔬</div>
      </div>
      <div class="flex flex-col items-stretch gap-2">
        <div class="place-items-end">
          <BackToTop />
        </div>
        <div class="place-items-end">
          <ThemeSwitcher />
        </div>
      </div>
    </div>
    {
      SITE.ENABLE_FOOTER_LAST_BUILD && (
        <div class="mt-4 flex justify-center sm:hidden">
          <LastBuild mobile={true} />
        </div>
      )
    }
  </Container>
</footer>
