---
import Container from "@components/Container.astro";
import BackToTop from "@components/BackToTop.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import { SITE } from "@consts";
---

<footer class="animate">
  <Container>
    <div class="flex items-end justify-between">
      <div>
        <div>&copy; {new Date().getFullYear()} • {SITE.TITLE} 🔬</div>
      </div>
      <div class="flex flex-col items-stretch gap-2">
        <div class="place-items-end">
          <BackToTop />
        </div>
        <div class="place-items-end">
          <ThemeSwitcher />
        </div>
      </div>
    </div>
  </Container>
</footer>
